html { 
  background: url(../img/city.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
    font-family: 'Lora', serif;
}

select option {
    font-family:sans-serif;
}